@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');

body {
    background-color: #383838;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;

}

/* Estilos para la sección de Navbard */

.navbard{
    display: flex;
    background-color: #151414;
    padding: 10px;
    align-items: center;
}

.navbard a:first-child {
    margin-right: auto; 
    padding-inline-start: 5%;
    padding-right: 5%;
}

.navbard a{
    color: #FFF;
    font-family: "Open Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-decoration: none;
    padding-right: 5%;
    
}

/* Estilos para la sección de Presentacion */

.presentacion{
display: flex;
    justify-content: space-between;
    align-items: flex-start; 
    
    padding-top: 50px; 
    padding-right: 5%;
    padding-left: 5%;
    padding-bottom: clamp(80px, 9vw, 200px);
    

    background-image: url('img/Rectangle.svg');
    background-size: cover;
    background-repeat: no-repeat;
}

.presentacion__informacion{
    color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 0%;
    padding-bottom: 3%;
    gap: 10px; 
    line-height:  0.9;
}

.presentacion__informacion h1{
    color: rgba(255, 215, 0, 0.95);
    display: flex;
    text-align: center;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #000;
    font-family: "Sans Serif Collection";
    font-size: clamp(4.1rem, 4vw, 5rem);
    font-style: normal;
    font-weight: 400;
    margin: 0% ; 
}

.presentacion__informacion h2{
    text-align: center;
    font-family: "Open Sans";
    font-size: clamp(4rem, 3.8vw, 5rem);
    font-style: normal;
    font-weight: 400;
    margin: 0%;
}

.presentacion__informacion h3{
    text-align: center;
    font-family: "Open Sans";
    font-size: clamp(1.5rem, 1.5vw, 2rem);
    font-style: normal;
    font-weight: 400;
    margin: 2%;    
}


.presentacion__boton{
    justify-content: center;
    align-items: center;
    border-radius: 0.875rem;
    border: 1px solid rgba(0, 0, 0, 0.56);
    background: #FFD700;
    width: 22%;
    height: 3rem;
}

.presentacion__boton p{
    color: #000;
    text-align: center;
    font-family: Assistant;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
}



.presentacion__imagenes{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}



.presentacion__imagenes__perfil{
    width: clamp(250px, 18vw, 400px);
    height: clamp(250px, 18vw, 400px);
    border-radius: 50%;
    object-fit: cover;
}


.presentacion__imagenes__redes{
    display: flex;
    gap: 20px;
}

.presentacion__imagenes__redes img{
    width: clamp(50px, 2.5vw, 48px);
    height: auto;
}

/* Estilos para la sección de Sobre Mi */

.sobre-mi{
    margin-top: 1%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: #252525;
    border-radius: 2rem;
    padding: 1% 2%;
}

.sobre-mi__contenido {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;

}

.sobre-mi__contenido h1{
    color: #FFD700;
    text-align: center;
    font-family: "Fira Code";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    padding-top: 1%;
}

.sobre-mi__contenido p{
    color: #FFF;
    text-align: center;
    font-family: "Open Sans";
    font-size: 1rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    padding: 0 5%;
}

.sobre-mi__boton{
    align-self: flex-end;
    margin-right: 10%;
    margin-bottom: 1%;
    border-radius: 0.875rem;
    border: 1px solid rgba(0, 0, 0, 0.56);
    padding: 1%;
    background: #4B4B4A;
    color: #FFF;
    text-align: center;
    font-family: Assistant;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Estilos para la sección de Experiencia */

.experiencia{
    background-color: #252525;
    padding: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2%;
}

.experiencia h1{
    color: #FFD700;
    text-align: center;
    font-family: "Fira Code";
    font-size: 2.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
 
    padding-top: 1%;
}

.experiencia_contenido{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 1%;
}

.experiencia__lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 1%;
}

.experiencia__proyecto{
    display: flex;
}

.experiencia__proyecto img{
    width: 40%;
    height: 40%;
    object-fit: cover;
    border-radius: 10px;
    margin: 20px;
}

.boton__informacion{
    align-self: center;
    border-radius: 0.875rem;
    border: 1px solid rgba(0, 0, 0, 0.56);
    padding: 1%;
    width: 200px;
    background: #4B4B4A;
    color: #FFF;
    text-align: center;
    font-family: Assistant;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* Estilos para la sección de Blog */
.blog__lista{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.blog__proyecto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding-bottom: 1%;
    flex: 1 1 0;
    max-width: 30%;
}

.blog__imagen{
    width: 100%;
    aspect-ratio: 1;
    object-fit: cover;
    border-radius: 10px;
}

/* Estilos para la sección de Footer */

.footer{
    width: 100%;
    text-align: center;
    background-color: #151414;
    color: #ffffff;
    position: static;
    padding: 1px 0; 
}

footer p{
    font-family: "Open Sans";
    font-size: 0.9rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    margin: 1%;
}

