@import './vendor/externs.css';
@import './blocks/blog/blog.css';
@import './blocks/boton/boton.css';
@import './blocks/experiencia/experiencia.css';
@import './blocks/footer/footer.css';
@import './blocks/navbard/navbard.css';
@import './blocks/presentacion/presentacion.css';
@import './blocks/sobre-mi/sobre-mi.css';


body {
    background-color: #383838;
    color: #ffffff;
    margin: 0;
    padding: 0;
    font-family: "Open Sans", sans-serif;

}












