
.page-blog {
    margin: 5%;
}

.page-blog__titulo{
     font-family: "Sans Serif Collection";
    color: rgba(255, 215, 0, 0.95);
}


.page-blog__buscador{
    display: flex;
    
    flex-direction: column;


    
    align-items: center;
    
    padding: 3%;
    
    
}


.page-blog__categorias{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    
    gap: 10px 20px; 
    flex-wrap: wrap;

}

.page-blog__categorias p{
    background-color: black;
    color: white;
    padding: 1px 20px;
    border-radius: 5px;

    margin: 0;
    
}
