
.page-blog {
    margin: 5%;
}

.page-blog__titulo{
     font-family: "Sans Serif Collection";
    color: rgba(255, 215, 0, 0.95);
}


.page-blog__buscador{
    display: flex;
    
    flex-direction: column;


    
    align-items: center;
    
    padding: 3%;
    
    
}


.page-blog__categorias{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    
    gap: 10px 20px; 
    flex-wrap: wrap;

}

.page-blog__categorias p{
    background-color: black;
    color: white;
    padding: 1px 20px;
    border-radius: 5px;

    margin: 0;
    
}

.page-blog__categorias--oculto {
    display: none !important;
}


.page-blog__boton-favorito {
    font-size: 24px; /* Para que el icono se vea grande y claro */
    background: none; /* Quitamos el fondo por defecto del botón HTML */
    border: none; /* Quitamos el borde por defecto */
    cursor: pointer; /* Para que salga la manita al pasar el mouse */
}

.page-blog__boton-favorito--favorito {
    color: yellow; /* Color vivo para indicar que está guardado */
}

.page-blog__boton-favorito--no-favorito {
    color: grey; /* Color apagado para el estado inactivo */
}