.boton {
    align-self: center;
    border-radius: 0.875rem;
    padding: 1%;
    width: 200px;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.boton--informacion{
     border: 1px solid rgba(0, 0, 0, 0.56);
    background: #4B4B4A;
    font-family: Assistant;
    color: #FFF;
}
