.boton {

    border-radius: 0.875rem;
    text-align: center;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.boton--informacion{
    align-self: center;
    width: 200px;
    border: 1px solid rgba(0, 0, 0, 0.56);
    background: #4B4B4A;
    font-family: Assistant;
    color: #FFF;
    padding: 1%;
}

.boton--principal{
    border-radius: 0.875rem;
    border: 1px solid rgba(0, 0, 0, 0.56);
    background: #FFD700;
}